@charset "ISO-8859-1";

body {
	background-color: whitesmoke;
}

.center_box {
	height: 150px;
	width: 150px;
	border: dotted blue;
	display: inline-block;
	margin-right: 2%;
	text-align: center;
}

.faux_text_box {
	height: 200px;
	width: 600px;
	background-color: whitesmoke;
}